@page
@model LoyaltySoftware.Pages.Member.DeleteDetailsModel
@{
}

<h1>Delete Account</h1>


<h2 class="text-danger">Are you sure want to permanantly delete your account?</h2>
<h3 class="text-danger">This action cannot be un-done and you will lose all your points that you have collected.</h3>

<div class="table-active">

    <div>
        <label asp-for="UserRec.user_id"></label>
        <span> : </span>
        @Model.UserRec.user_id
    </div>

    <div>
        <label asp-for="UserRec.first_name"></label>
        <span> : </span>
        @Model.UserRec.first_name
    </div>

    <div>
        <label asp-for="UserRec.last_name"></label>
        <span> : </span>
        @Model.UserRec.last_name
    </div>

    <div>
        <label asp-for="UserRec.dob"></label>
        <span> : </span>
        @Model.UserRec.dob
    </div>

    <div>
        <label asp-for="UserRec.telephone"></label>
        <span> : </span>
        @Model.UserRec.telephone
    </div>

    <div>
        <label asp-for="UserRec.email"></label>
        <span> : </span>
        @Model.UserRec.email
    </div>

    <br />
    <div>
        <form method="post">
            <input type="hidden" asp-for="UserRec.user_id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>

</div>